<!DOCTYPE html>
<html>
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <body>
    <center>
    <img src="/images/Untitled-1.png" alt="Battleships" align="middle">

    <%= yield %>
    </center>
  </body>
</html>
