<h1>What's your name?</h1>

<form action="/new_game" method="post">
  <br>
  <br>
  <input type="text" placeholder="name" name="player_name">
  <input type="text" placeholder="What size of board? e.g. 9" name="board_size">
  <input type="text" placeholder="How many ships do you want? e.g. 3" name="pieces_count">
  <input type="submit" value="Submit">
</form>
