<h1>What's your name?</h1>

<form action="/new_game" method="post">
  <br>
  <br>
  Name: <input type="text" name="player_name">
  <input type="text" name="age">
        <input type="submit" value="Submit">
</form>
